<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429594645951-v02if8jrkapq7ln6iq6lra7eo8bfg6dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429594645951-v02if8jrkapq7ln6iq6lra7eo8bfg6dh</string>
	<key>API_KEY</key>
	<string>AIzaSyBOos4d5VCHnpW2QQs-7JmMU8MBgFVX1bc</string>
	<key>GCM_SENDER_ID</key>
	<string>429594645951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgp.HTRecipe</string>
	<key>PROJECT_ID</key>
	<string>t-h-recipes</string>
	<key>STORAGE_BUCKET</key>
	<string>t-h-recipes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429594645951:ios:c379c4c285f6ae3f</string>
	<key>DATABASE_URL</key>
	<string>https://t-h-recipes.firebaseio.com</string>
</dict>
</plist>